.chatContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-direction: column;

	.chatBox{
		height: 90%;
		width: 100%;
		overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
		border-top-left-radius: 3em;
		border-top-right-radius: 3em;
		padding: 1em;
	}

	.chatBox::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 7px;
	}
	.chatBox::-webkit-scrollbar-thumb {
	    border-radius: 4px;
	    background-color: rgba(0,0,0,.5);
	    box-shadow: 0 0 1px rgba(255,255,255,.5);
	}

	.chatBox::-webkit-scrollbar-track-piece:end {
	    background: transparent;
			margin-bottom: 10px;
	}

	.chatBox::-webkit-scrollbar-track-piece:start {
	    background: transparent;
	    margin-top: 50px;
	}

	.chatInput{
		width: 100%;
		height: 10%;
	}
}
