.snackbarSuccess{
	background: #43a047 !important;
	color: #FFF !important;
}

.snackbarError{
	background: #d32f2f !important;
	color: #FFF !important;
}


.icon{
	margin-right: 5px;
	margin-top: 5px;
}
