.container{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	width: 50%;
	max-width: 50%;
	float: left;
	margin: 0 3em;

	img{
		width: 10%;
	}

	.messageContainer{
		margin: 1em;
		display: flex;
		max-width: 100%;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;

		.textContainer{
			border-radius: .5em;
			background-color: #DFE0E4;
			max-width: 100%;
			padding: 1em;
			word-wrap: break-word;

			.message{
				color: #2F2F30;
			}
		}

		.dateMessage{
			font-size: .8rem;
			margin-top: .2em;
			align-self: flex-end;
			color: #939699;
		}
	}
}
